@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header > h1{
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3.5vw;

}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
}

section.normal{
    background-color: white;
    color: black;
}

section#img01{
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right bottom;
}

section#img02{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.253);

    text-shadow: 1px 1px 0px black;
    display: inline-block;
}