@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root{
    --font1: 'Source Sans Pro', sans-serif;
    --font2: 'Oswald', sans-serif;
    --font3: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

header{
    background-color: rgb(72, 161, 72);
    color: white;
    font-weight: bold;
    text-align: center;
}

header > h1{
    padding-top: 30px;
    font-family: var(--font2);
}

header > p{
    padding-bottom: 30px;
    font-family: var(--font1);
}

img{
    max-width: 180px;
    margin: auto;
}

main{
    background-color: rgb(149, 255, 149);
    max-width: 800px;
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 30px;
    border-radius: 0px 0px 15px 15px;
}

main section{
    margin-bottom: 50px;
    
}



main section:last-child{
    padding-bottom: 30px;
    margin-bottom: 0px;
}

main section div{
    margin-top: 8px;
    
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: -webkit-link;
}


section{
    padding: 8px;
    max-width: 350px;
    margin: auto;
    background-color: rgb(96, 161, 96);
    font-family: var(--font3);
    border-radius: 15px;
    padding-top: 30px;
}

footer{
    background-color: rgb(44, 44, 44);
    color: white;
    font-family: var(--font1);
}

footer a{
    color: rgb(179, 179, 179);
}

footer a:hover{
    color: rgb(104, 104, 255)
}

div{
    padding: 15px 0px;
    text-align: center;
}
